.cd-content{
  position: absolute;
  top: 15px;
  z-index: 9999;
  background: #fff;
  width: 180px;
  left: 861px;
  border-radius: 30px;
  border: 3px solid #ed2027;
  padding: 20px;
}
.cd-content>a{
  overflow-wrap: break-word!important;
  word-break: break-word!important;
} 
.cd-logo{
  margin: -24px -24px 0 0;
  float: right;
  width: 50px;
  height: 50px;
}

.login-close,.close{
  box-shadow: 1px 1px 6px #ccc;
  background-color: #b9b9b9;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size:14px;
  line-height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  cursor: pointer;
}
.login-close:hover,.close:hover{
  background-color: transparent;
  border-color: #a8a8a8;
}
.close{
  left: 213px;
}
.login-close{
  left: 288px;
}
.cd-login{
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px;
  margin-left: -200px; */
  z-index: 9999;
  background: #fff;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cd-login > .header, .cd-login > .body{
  padding: 20px;
}
.cd-login > .header{
  border-bottom: 1px solid #ccc;
  cursor: move;
}
.cd-login > .body{
  padding-bottom: 5px;
}
.cd-login > .footer{
  padding: 5px 20px 10px 20px;
  height: 12px;
  font-size: 12px;
}
.cd-login span.plus{
  background: #ababab;
  border-radius: 50%;
  padding:0 4px;
  font-weight: bold;
}

.cd-login img.cd-logo{
  margin: 0;
  float: right;
  width: 50px;
  height: 50px;
}

.cd-login input[type=text]{
  width: 175px;
  margin-top: 4px;
  border-radius: 30px!important;
  border: 3px solid #ed2027!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .cd-content {
      left: 0;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
